<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="mainCtrl">

  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">

        <input class="form-control" placeholder="Search Anything About Your Friends" ng-model="pepsFilter" >
        <!-- STEP 5: Get rid of the one above when you uncomment the below-->
          <!--
        <input class="form-control" placeholder="Search Name">
        <input class="form-control" placeholder="Search Location">
          -->

        <select ng-model="orderAttribute" ng-options="option.value as option.label for option in searchAttrOptions" class="input-medium">
            </select>
            
          <!--<option ng-selected="order('name')">name</option>
          <option ng-selected="order('friend_count')">#Friends</option>
          <option ng-selected="order('current_location.city')">City</option>
          <option ng-selected="order('current_location.state')">State</option>
          <option ng-selected="order('current_location.country')">Country</option>
        </select>-->

        <select class="input-medium" ng-model="orderReverse">
          <option value="+">Descending</option>
          <option value="-">Ascending</option>
        </select>

      </div>
    </form>

    <ul>
      <li class='friend' ng-repeat="peps in friends | filter: pepsFilter | orderBy: orderReverse + orderAttribute">
        <img class="profile-pic" src="{{peps.pic_square}}">

        <h3>{{peps.name}}</h3>

        <div class="location">
          Location: {{peps.current_location.city}}, {{peps.current_location.state}}, {{peps.current_location.country}}
        </div>

        <div class="status">
          Status: {{peps.status.message}} <div class="timeStamp">{{peps.status.time | date :"EEEE MM/dd/yyyy 'at' h:mma"  : timezone}}</div>
        </div>

        <div class="num-friends">
          Friends: {{peps.friend_count}}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="FriendController.js"></script>
</body>
</html>
